<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CmpE226</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Television</display-name>
    <servlet-name>Television</servlet-name>
    <servlet-class>com.cmpe226.Television</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Television</servlet-name>
    <url-pattern>/Television</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refrigerator</display-name>
    <servlet-name>Refrigerator</servlet-name>
    <servlet-class>com.cmpe226.Refrigerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refrigerator</servlet-name>
    <url-pattern>/Refrigerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelevisionServlet</display-name>
    <servlet-name>TelevisionServlet</servlet-name>
    <servlet-class>com.cmpe226.TelevisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelevisionServlet</servlet-name>
    <url-pattern>/TelevisionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nail_Polish</display-name>
    <servlet-name>Nail_Polish</servlet-name>
    <servlet-class>com.cmpe226.Nail_Polish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nail_Polish</servlet-name>
    <url-pattern>/Nail_Polish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.cmpe226.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelevisionDetailServlet</display-name>
    <servlet-name>TelevisionDetailServlet</servlet-name>
    <servlet-class>com.cmpe226.TelevisionDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelevisionDetailServlet</servlet-name>
    <url-pattern>/TelevisionDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>refrigeratorDetailServlet</display-name>
    <servlet-name>refrigeratorDetailServlet</servlet-name>
    <servlet-class>com.cmpe226.refrigeratorDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refrigeratorDetailServlet</servlet-name>
    <url-pattern>/refrigeratorDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.cmpe226.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailServlet1</display-name>
    <servlet-name>BookDetailServlet1</servlet-name>
    <servlet-class>com.cmpe226.BookDetailServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailServlet1</servlet-name>
    <url-pattern>/BookDetailServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NailPolishDetailsServlet</display-name>
    <servlet-name>NailPolishDetailsServlet</servlet-name>
    <servlet-class>com.cmpe226.NailPolishDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NailPolishDetailsServlet</servlet-name>
    <url-pattern>/NailPolishDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>